@import '../../abstracts/abstracts';



.header {

    position: fixed;
    top: 0;
    left: 0;
    min-width: 100vw;
    min-height: 10vh;
    background-color: $Blue;
    box-shadow: 1px 1px 15px #8080809e;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    @include breakpoint-up('large'){
        min-width: 20vw;
        min-height: 100vh;
        display: grid;
        grid-template-rows: 1fr 2fr 1fr;
        
    }

    
    &__toggle {
        margin-top: 5px;

        span {
            display: block;
            width: 2rem;
            height: 5px;
            margin-top: 5px;
            background-color: white;
            
        }

        &:not(:last-child) {
            margin-bottom: 6px;
        }
    }


    h1 {
        color: white;
        text-align: center;
    }
    

    &__nav {
       
        @include breakpoint-up('large'){
            display: flex;
            flex-direction: column;
            text-align: center;
        }
       

    }

}