@import '../../abstracts/abstracts';



.header {

    background-color: $Blue;
    position: fixed;
    top: 0;
    left: 0;
   

    @include breakpoint-down('large'){
        min-width: 100vw;
        min-height: 15vh;
    }
    
    @include breakpoint-up('large'){
        min-width: 20vw;
        min-height: 100vh;
        
    }

    h1 {
        color: white;
    }
}