@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@300;500&display=swap');


//colors 

$Blue: #A1CAE2;
$Brown: #C2B092;
$GoldBrown: #EAE3C8;
$Mocha: #CFC5A5;

//fonts 

$font: 'Noto Sans HK', sans-serif;
