@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@300;500&display=swap');


//colors 

$Blue: #A1CAE2;
$Brown: #C2B092;
$GoldBrown: #EAE3C8;
$Mocha: #CFC5A5;

//fonts 

$font: 'Noto Sans HK', sans-serif;
$font-light: 300;
$font-med: 500;

$font-reg: 1rem; //16px
$font-small: 0.875rem; //14px



