@import '../../abstracts/abstracts';



.main {
   
    margin: 0 auto;
    padding: 6rem 0.875rem;
    

    @include breakpoint-up('medium'){
        padding: 8rem;
    }

    @include breakpoint-up('large'){
        
        margin-left: 20vw;
        padding: 6.25rem 12.5rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

}




