@import '../../abstracts/abstracts';



.main {
    margin-left: 20vw;
    padding: 6.25rem 12.5rem;
    display: flex;
    justify-content: center;


    &__card {

        background-color: white;
        min-width: 40rem;
        
        
    
    
    }
}




