@import './abstracts';



.link {

    color: white;
    padding: 1rem;
    font-weight: $font-med;
    font-size: 0.875rem; //14px

    &:hover {
        color: $GoldBrown;
    }
    
}


.button {
    background-color: $Blue;
    color: white;
    border: 1px solid $GoldBrown;
    border-radius: 1.25rem;
    height: 3.75rem;
    width: 12.5rem;
    font-size: $font-small;
    font-weight: $font-med;

    &:hover {
        color: $GoldBrown;
    }
}




.input {

    border-bottom: 1px solid $Brown;
    margin-bottom: 1.5rem;
    display: flex;

    &__box {
        flex: 1;
        border: none;
        font-size: 1rem;
        margin-left: 0.5rem;
        padding: 5px;


        @include breakpoint-up('large'){
            padding: 0.5rem;
            margin-left: 1rem;
        }

    }

}


.card {

    &.hide {
        display: none;
    }
    

    background-color: white;
    border-radius: 5px;
    margin-bottom: 1.875rem;
    padding: 0.875rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;


    h2 {
        text-align: center;
        border-bottom: 1px solid $Brown;
        width: 50%;
        margin-bottom: 1rem;
        align-self: center;
    }


    @include breakpoint-up('large'){
        border-radius: 20px;
        padding: 1.875rem 5rem;
        max-width: 40rem;


        h2 {
            margin-bottom: 2rem;

        }
    }




    span {
       
        font-size: 1rem;
        align-self: flex-end;

        &:hover {
            color: $Brown;
            cursor: pointer;
        }

    }


}