@import '../../styles/abstracts';


.main {
   
    margin: 8rem 0.875rem;
    
    @include breakpoint-up('medium'){
        margin: 8rem 5rem;
    }

    @include breakpoint-up('large'){
        
        margin-left: 35vw;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

}




