@import '../../styles/abstracts';


.main {
   
    margin: 8rem 0.875rem;
    
    @include breakpoint-up('medium'){
        margin: 8rem 5rem;
    }

    @include breakpoint-up('large'){
        
        margin-left: 35vw;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

}

.preview {
  
    

    &__container {

        background-color: white;
        border-radius: 10px;
        min-height: 50vh;
        
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;

        @include breakpoint-up('large'){
            max-width: 50vw;
            padding: 3.5rem 3rem;
        }
    }

    h2 {
        text-align: center;
        border-bottom: 1px solid $GoldBrown;
    }

    &__section {

        h3 {
            color: $Brown;
            padding-top: 1rem;
        }

        hr {
            border-top: 1px solid $GoldBrown;
       }
    
       p {
            margin: 0;
        }

       &.contact-section {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding-top: 1rem;
        }
    }

    
    hr {
        border-top: 1px solid $GoldBrown;
        margin-bottom: 0.5rem;
   }


    &__card {

      

        p:first-of-type {
            font-size: larger;
        }
    }


    &__update {

       float: right;
       cursor: pointer;
       color: $Brown;

       &:hover {
           color: $GoldBrown;
       }
    }
    
    span:nth-of-type(2) {
        padding-right: 10px;

    }


    &__buttons {
        display: flex;
        flex-direction: row;
       
        button:not(:last-of-type) {
            margin-right: 1rem;
        }
    }
}





