@import '../../styles/abstracts';


.main {
   
    margin: 8rem 0.875rem;
    
    @include breakpoint-up('medium'){
        margin: 8rem 5rem;
    }

    @include breakpoint-up('large'){
        
        margin-left: 35vw;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

}

.preview {
  

    &__container {

        background-color: white;
        border-radius: 10px;
        min-height: 50vh;
        display: flex;
        flex-direction: column;

    }


    &__section {
        border-top: 1px solid $Brown;

        h3 {
            color: $Brown;
        }
    }

    &__edit {
       float: right;
    }
}



