@import '../abstracts/abstracts';



.link {

    color: white;
    padding: 1rem;
    font-weight: $font-med;
    font-size: 0.875rem; //14px

    &:hover {
        color: $GoldBrown;
    }
    
}


.button {
    background-color: $Blue;
    color: white;
    border: 1px solid $GoldBrown;
    border-radius: 1.25rem;
    height: 3.75rem;
    width: 12.5rem;
    font-size: $font-small;
    font-weight: $font-med;

    &:hover {
        color: $GoldBrown;
    }
}