@import '../abstracts/abstracts';



.link {

    color: white;
    padding: 1rem;
    font-weight: $font-med;
    font-size: 0.875rem; //14px

    &:hover {
        color: $GoldBrown;
    }
    
}


.button {
    background-color: $Blue;
    color: white;
    border: 1px solid $GoldBrown;
    border-radius: 1.25rem;
    height: 3.75rem;
    width: 12.5rem;
    font-size: $font-small;
    font-weight: $font-med;

    &:hover {
        color: $GoldBrown;
    }
}




.input {

    border-bottom: 1px solid $Brown;
    margin-bottom: 1.5rem;

    &__box {
        width: 80%;
        font-size: 1rem;
        padding: 0.5rem;
        border: none;
        margin-left: 1rem;
    }

}

.card {
    background-color: white;
    min-width: 40rem;
    padding: 1.875rem 5rem;
}