@import './abstracts/abstracts';

html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding:0;
    font-family: $font;
    line-height: 1.5;
    background-color: $Brown;
    min-height: 100vh;
}

h1, h2 {
    margin: 0;
}

h1 {
    font-size: 6rem; // 96px
    font-weight: $font-light;
    text-align: left;
}


.container {
    
    padding: 0 1.875rem;
}