@import './abstracts/abstracts';

html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding:0;
    font-family: $font;
    line-height: 1.5;
    background-color: $Brown;

}

h1, h2 {
    margin: 0;
}

h1 {
    font-weight: $font-light;
    text-align: left;
}


.container {
    padding: 0 1.875rem;
}

a, a:visited, a:active {
    text-decoration: none;
}


.hide-for-mobile {

    @include breakpoint-down('medium'){
        display: none;
    }
}

.hide-for-desktop {

    @include breakpoint-up('large'){
        display: none;
    }
}


.hide {
    display: none;
}
